/* Top Nav */

#topNav{
background-color: #272524;  
height: 45px;  
}


#topNav ul li{
  padding: 0px 9px 0px 9px;
  margin: 12px 5px 5px 0px;
}

/* EA logo */
#topNav ul li:nth-child(3){
  padding: 0px 0px 0px 0px;
  margin: 10px 3px 5px 0px;
}

.img-responsive{
  height: 40px;  
}

/* end of Top Nav */


/* Main Nav */

.img-logo{
  height: 155px;
}

#mainNav{
  /* Sticky bar effect */
  position: sticky;
  height: 95px;
  opacity:0.87;
  top:0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 105px;
}


#mainNav ul li{
  font-size:20px;
  padding: 15px;
  color: white;
}

/* end of Main Nav*/


/* Div/Section 1 */
.one{
  text-align: center;
  padding: 90px;
  background-image:url("https://stmed.net/sites/default/files/titanfall-2-hd-wallpapers-33821-2256143.jpg");
  background-repeat: no-repeat; 
  background-position: center;
  height: 40em;
}

.one h1{
  font-weight: bold;
  color: slategray;
  font-size: 4em;
  padding: 65px; 
}

/* end of Div/Section 1 */


/* Parallax image*/
#plx {
  /* The image used */
  background-image: url(../img/jack-pilot.jpeg);

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Featured News Cards */


.fn {
  text-align: center;
  font-family: Helvetica Neue;
  letter-spacing: .38px;
  font-weight: 900;
  color: #f3f3f5;
  text-transform: uppercase;
  
}
.container {
  margin: 0;
  padding: 15 rem;
  box-sizing: border-box;
  letter-spacing: 1px;
}
.eyebrow {
  font-size: 16px;
  font-family: Helvetica Neue;
  text-transform: uppercase;
  margin: 3px 0px 0px;
  font-weight: 900;
}
.card_title  {
  font-size: 20px;
  font-family: Helvetica Neue;
  letter-spacing: .38px;
  font-weight: 900;
  color: #f3f3f5;
  }
.row  {
  background-blend-mode: inherit;
}
/* End of Featured News Card*/



/* Div/Section 3 */

.three{
  text-align:center;
  padding: 55px 0px 65px 0px;
  height: 100%;
  background: black;
  color: white;
}

.three h1,h5{
  padding:15px;
}

#img-title{
  height: 118px;
}

.btn-warning{
 border: solid orange;
 background-color: orange; 
 color: white; 
}

#buttonTwo{
  background-color: black;
  color:white;
  border:solid white;
}

/* end of Div/Section 3 */

/* Div/Section 4 */
.four{
  padding: 25px 0px 25px 0px;
  background-image:url("https://stmed.net/sites/default/files/titanfall-2-hd-wallpapers-33821-4398900.jpg");
  background-repeat: no-repeat;
  background-position: center; 
}

.four h1{
  font-size: 4em;
  padding: 45px;
  font-weight: bold;
  color: white;
}

.four h4{
  padding: 20px;
  color: white;
  margin:10px;
}

.four .buttons{
  padding: 5px 15px;
  margin:50px;
}

#one,#two{
 margin:20px; 
}
/* end of Div/Section 4 */


/* Div/Section 5 */
.five{
  text-align: center;
  padding: 115px 0px 115px 0px;
  height:35em;
  background-image: url("https://wallpapersite.com/images/pages/pic_w/9683.jpg");
  background-repeat: no-repeat; /*Parallax effect*/
  background-attachment: fixed; /*Parallax effect*/
  background-position: center; /*Parallax effect*/
}

.five h1,h5{
  padding: 25px;
  color: ghostwhite;
}

.five .btn{
  font-weight:bold;
  border: solid;
}
/* end of Div/Section 5 */



/* Div/Section 7 */
.seven{
  padding:65px 55px 135px 55px;
  background-color: #6DC096;
  /*background-image:url("");*/
}
.seven h3{
  padding:20px;
  font-weight:bold;  
}
.seven h4{
  padding:25px;
}
#email{
  padding: 0px 0px 25px;
}
#birthdate{
  width: 250px;
  padding:10px;
}
#country{
  width: 255px;
  height: 50px;
}
.checkbox{
  padding: 45px;
}
#signUp{
  padding: 20px 45px 20px 45px;
  color: white;
  background-color: #ff5b20;
}
/*  end of Div/Section 7 */



/*  Footer section */

/*  Top Footer */
#topFooter{
  background-color: #3B3939;
  padding: 45px 55px 25px;
  color: #a3a3a3;  
}

#company{
  font-size:25px;
  border-bottom: solid 0.5px;
  padding: 8px 1px;
}


/*  end of Top Footer */


/*  Bottom Footer  */
.bottom{
  background-color: #131212;
  color: white;
  padding:30px 110px 40px;
}

.bottom .img-logo{
  height:55px;
  
}

.links{
  list-style:none;
  margin: 5px 50px;  
}

.links ul{
  text-align: center;
}

.links li {
  display: inline-block;
  padding: 15px;
  font-weight: bold;
}

#rowOne, #rowTwo, #rowThree{
  margin: 0px 145px; 
}


/* Dropdown/Select */
.custom-select{
  width: 145px !important;
}


/*  end of Bottom Footer */
